body {
	background: url(../images/vineyard-wallpaper.jpg) no-repeat;
	background-attachment: fixed;
	
}

h1 {
	font-weight: bold;
}

#header {
	background: rgba(255, 255, 255, 0.8);
	color: black;
}

.list-group-item {
	background: rgba(255, 255, 255, 0.8);
}
 .panel-danger,
 .panel-warning {
 	background: rgba(255, 255, 255, 0.8);
 }
